name: Danger

on:
  pull_request:
    types:
      - assigned
      - edited
      - labeled
      - opened
      - reopened
      - ready_for_review
      - review_requested
      - review_request_removed
      - synchronize
      - unassigned
      - unlabeled

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  danger:
    name: Danger
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Install dependencies
        run: bundle install
      - name: Run Danger
        run: bundle exec danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
